.price-card__basic {
  padding: 33px 140px;
}

.price-basic {
  background-color: $price-color-basic;
}

.green-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
}

.button-basic {
  background-color: $button-color-basic;
}
