.price-card__business {
  padding: 33px 108px;
  position: relative;
}
.price-card__popular_container {
  background: transparent;
  width: 153px;
  height: 143px;
  border: 25px solid #334247;
  border-color: #dc3f45 transparent transparent;
  position: absolute;
  top: -71px;
  right: -70px;
  transform: rotate(-137deg);
}

.price-card__popular_text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 37px;
  right: 5px;
  bottom: 93px;
  transform: rotate(45deg);
}

.price-business {
  background-color: $price-color-business;
}

.blue-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}
.button-business {
  background-color: $button-color-business;
}
