.price-card__business {
  padding: 33px 108px;
  position: relative;
  overflow: hidden;
}
.price-card__popular_container {
  position: absolute;
    top: 16px;
    right: -29px;
    transform: rotate(44deg);
    text-align: center;
    background-color: $popular-block-color;
    width: 148px;
    padding-left: 50px;
    padding-right: 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.price-business {
  background-color: $price-color-business;
}

.blue-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}
.button-business {
  background-color: $button-color-business;
}
