$background-color-page: #141b1c;
$background-color-light-grey: #334247;
$background-color-option-light: #334247;
$background-color-option-dark: #2a343880;

$color-white: #fff;

$border-color-black: #334247;
$border-color-red: #dc3f45;

$box-shadow-grey: #00000016;

$price-color-basic: #5bb189;
$price-color-business: #3a6ba5;
$price-color-webshop: #ec632a;

$button-color-basic: #5bb189;
$button-color-business: #3a6ba5;
$button-color-webshop: #ec632a;
