.price-card__webshop {
  padding: 33px 102px;
}

.price-webshop {
  background-color: $price-color-webshop;
}

.orange-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
}

.button-webshop {
  background-color: $button-color-webshop;
}
